.popup__input_state_error {
  border-bottom-color: red;
}

.popup__input_state_error.popup__input:active {
  border-bottom-color: red;
}

.popup__input_state_error.popup__input:focus {
  border-bottom-color: red;
}
