@import url(./__header/content__header.css);
@import url(./__profile/content__profile.css);
@import url(./__places/content__places.css);

.content {
  box-sizing: border-box;
  width: 100%;
  max-width: 920px;
  min-width: 320px;
  padding: 40px 20px 60px 20px;
}

@media screen and (max-width: 720px) {
  .content {
    padding: 30px 20px 35px 20px;
  }
}
